body {
  background-color: #7f5e54;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 0;
  padding: 0;
}

.header {
  color: #090502;
  margin-top: 8rem;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  gap: 10px;
  background-color: #ddd4c4;
  padding-top: 4rem;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 1rem;
  border-top-right-radius: 80px;
  border-top-left-radius: 20px;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin: 0 auto;
  padding-top: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 4rem;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 80px;
  gap: 20px;
  background-color: #ddd4c4;
}

.inputContainer {
  height: 30px;
}

#input {
  border: none;
  border-radius: 80px;
  padding: 20px;
  background-color: #eee9e6;
}

.addButton {
  font-size: 12pt;
  background: #eee9e6;
  height: 30px;
  width: 30px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  color: #dab970;
}

.containerList {
  margin-bottom: 8rem;
}

li {
  list-style: none;
  color: #82674e;
  font-weight: bold;
}

.deleteButton {
  background-color: #eee9e6;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 40px;
  margin-left: 20px;
}
